[project]
	description = Chrome extension that helps you to map dependencies between your cards in Trello
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alexander Preston (alexanderpreston)
[access "refs/for/refs/*"]
	read = group user/Alexander Preston (alexanderpreston)
	push = group user/Alexander Preston (alexanderpreston)
	label-Code-Review = -2..+2 group user/Alexander Preston (alexanderpreston)
	label-Verified = -1..+1 group user/Alexander Preston (alexanderpreston)
	rebase = group user/Alexander Preston (alexanderpreston)
	removeReviewer = group user/Alexander Preston (alexanderpreston)
	submit = group user/Alexander Preston (alexanderpreston)
[access "refs/heads/*"]
	read = group user/Alexander Preston (alexanderpreston)
	create = group user/Alexander Preston (alexanderpreston)
	push = +force group user/Alexander Preston (alexanderpreston)
	pushMerge = group user/Alexander Preston (alexanderpreston)
[access "refs/tags/*"]
	push = +force group user/Alexander Preston (alexanderpreston)
	pushTag = group user/Alexander Preston (alexanderpreston)
	pushSignedTag = group user/Alexander Preston (alexanderpreston)
